@import "config";
@import "restaurants";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

//font-family: 'Courgette', cursive;
//font-family: 'Satisfy', cursive;
//font-family: 'Libre Franklin', sans-serif;
$primary-color: #1a57a7;
$secondary-color: #333333;
$bootstrap-color: #007bff;

html {
  scroll-behavior: smooth;
  font-family: "Libre Franklin", sans-serif;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: #505962;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

/*---------- Navigation---------------*/

//-----------Start NavBar-------------------------------------
#logo-img {
  max-width: 150px;
}
.navbar {
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0);

  li {
    margin-right: 0;
    padding-left: 1rem;
  }
}

.nav-link {
  color: #fff;
  letter-spacing: 2px;
}
.navbar-nav .nav-link.active {
  color: $primary-color;
  font-weight: bold;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: $primary-color;
  transition: ease-in-out 0.4s;
  text-decoration: none;
}

/* Change navbar styling on scroll */

//-----------End NavBar-------------------------------------

//-----------Banner-------------------------------------

.text-primary {
  color: $primary-color;
}
#home {
  background: url(../img/landing.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
.img-contain {
  background: rgba(13, 14, 15, 0.5);
}

@keyframes yourAnimation {
  0% {
    transform: rotate(0) translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 01;
  }
}
.site-content {
  .site-title {
    animation: yourAnimation 1s forwards 0s ease;
    font-size: 40px;

    line-height: 40px;
    color: #fff;
    padding-top: 20%;
    margin-bottom: 4%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.7rem black;
  }

  .btn-order {
    animation: yourAnimation 2s forwards 0s ease;
    color: #fff;
    font-size: 20px;

    letter-spacing: 5;
    text-shadow: 0.1rem 0.1rem 0.7rem black;
    text-align: center;

    margin-bottom: 14%;
  }

  .btn-down {
    margin: 0 0 2% 0;
  }
}

//===============End Banner-----------------------------

// ----------------------Start Portfolio Page-----------------------------

// ----------------------Start Portfolio Page-----------------------------
#portfolio {
  background: #f7f7f7;
  padding: 0 10%;
  h2 {
    padding: 15% 0 4% 0;
    font-family: "Courgette", cursive;
  }
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 2px;
  }
  hr {
    border-top: 2px solid $primary-color;
    margin-left: 30%;
    padding-bottom: 2%;
    width: 15%;
  }
  p {
    padding-bottom: 4%;
    font-weight: 400;
  }
  .btn {
    margin-bottom: 7%;
    padding: 15px 20px;
    color: #fff;
    background-color: $primary-color;
  }

  img {
    width: 250px;
    height: 400px;
    margin: 15% 0 18% 0;
    padding-left: 20px;
  }
}

// -----------------------End Portfolio Page----------------------------

// -----------------------Start Services Section----------------------------

#services-section {
  margin: 5% 0;
  padding: 0 8%;
  img {
    width: 100%;
    height: 400px;
    margin: 5% 0 10% 0;
  }
  h1 {
    padding: 10% 0 5px 0;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 2px;
  }
  hr {
    border-top: 2px solid $primary-color;
    margin-left: 30%;
    padding-bottom: 2%;
    width: 15%;
  }
  p {
    padding-bottom: 4%;
    font-weight: 400;
  }
  .btn {
    margin-bottom: 7%;
    padding: 15px 20px;
    color: #fff;
    background-color: $primary-color;
  }
}

//**************End Services****************************

//**************Start About*********************************
#about {
  background: #f7f7f7;

  padding: 5% 8%;
  img {
    width: 100%;
    height: 400px;
    padding: 5% 0 10% 0;
  }
  h1 {
    padding: 10% 0 5px 0;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 2px;
  }
  hr {
    border-top: 2px solid $primary-color;
    margin-left: 30%;
    padding-bottom: 2%;
    width: 15%;
  }
  p {
    padding-bottom: 4%;
    font-weight: 400;
  }
  .btn {
    padding: 15px 20px;
    color: #fff;
    background-color: $primary-color;
  }
}
//**************End About*********************************

//*****************End curosel****************************

footer {
  width: 100%;
  margin: 0;
  padding: 8% 5%;
  background: #1a1a1a;
  color: #fff;
  h6 {
    padding-left: 4%;
    font-weight: 200;
    font-size: 15px;
    color: #fff;
  }
  a {
    color: wheat;
    &:hover {
      text-decoration: none;
      font-weight: 300;
      color: #fff;
    }
  }
  i {
    margin: 4% 5px 2% 0;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: #333333;
    background-color: #fff;
    &:hover {
      color: #fff;
      background-color: $primary-color;
      @include easeOut;
    }
  }
  h5 {
    padding-top: 2%;
    font-size: 20px;
    font-weight: 40;
  }
}

//--------------Media queries------------------
@media (max-width: 807px) {
  .site-content {
    background: rgba(13, 14, 15, 0.8);

    .site-title {
      font-size: 35px;
      padding-bottom: 35px;
      padding-top: 50px;
    }
    .site-desc {
      font-size: 25px;
      padding-bottom: 25px;
    }

    .site-btn1 {
      position: absolute;
      top: 80%;
      right: 35%;
    }
    .app-buttons {
      display: grid;
      grid-gap: 0.8rem;
      grid-template-columns: 1fr;
      padding: 0 5%;
    }
    .social-icons {
      padding-right: 30px;
      i {
        padding-top: 20px;
        font-size: 40px;
        text-align: center;
      }
    }
    .img-mobile {
      margin-left: 14%;
    }
  }

  .social-icons {
    top: -1px;
  }
}

@import "mobile";

// //---------chefs Page*************
// #chef-body {
//   #logo-img {
//     max-width: 150px;
//   }
//   .navbar {
//     transition: all 0.4s;
//     background-color: rgba(0, 0, 0, 0);

//     li {
//       margin-right: 0;
//       padding-left: 1rem;
//     }
//   }

//   .nav-link {
//     color: #fff;
//     letter-spacing: 2px;
//   }
//   .navbar-nav .nav-link.active {
//     color: $primary-color;
//     font-weight: bold;
//   }
//   .navbar .nav-link:hover,
//   .navbar .nav-link:focus {
//     color: $primary-color;
//     transition: ease-in-out 0.4s;
//     text-decoration: none;
//   }

//   /* Change navbar styling on scroll */

//   //-----------End NavBar-------------------------------------

//   //-----------Banner-------------------------------------

//   .text-primary {
//     color: $primary-color;
//   }
//   #chef-main {
//     background: url(../img/landing.jpg);
//     background-attachment: fixed;
//     background-size: cover;
//     overflow-x: hidden;
//   }
//   .site-content {
//     background: rgba(13, 14, 15, 0.5);
//   }

//   .text-primary {
//     color: $primary-color;
//   }

//   #chef-body {
//     background: url(../img/dishes/BTC12.jpg);
//     background-attachment: fixed;
//     background-size: cover;
//   }
//   .img-container {
//     background: rgba(13, 14, 15, 0.5);
//   }

//   @keyframes yourAnimation {
//     0% {
//       transform: rotate(0) translateY(-40%);
//       opacity: 0;
//     }
//     100% {
//       transform: rotate(0) translateY(0);
//       opacity: 01;
//     }
//   }
//   .site-content {
//     .site-title {
//       animation: yourAnimation 1s forwards 0s ease;
//       font-size: 40px;

//       line-height: 40px;
//       color: #fff;
//       padding-top: 10%;
//       margin-bottom: 4%;
//       text-align: center;
//       font-weight: 400;
//       letter-spacing: 0.3rem;
//       text-shadow: 0.1rem 0.1rem 0.7rem black;
//     }

//     .btn-order {
//       animation: yourAnimation 2s forwards 0s ease;
//       color: #fff;
//       font-size: 20px;

//       letter-spacing: 5;
//       text-shadow: 0.1rem 0.1rem 0.7rem black;
//       text-align: center;

//       margin-bottom: 11%;
//     }
//   }
//   #site-intro {
//     background: #f7f7f7;
//     padding: 2% 0 10% 4%;
//     h2 {
//       padding: 0 0 4% 0;
//       font-family: "Courgette", cursive;
//       color: $primary-color;
//     }
//     h1 {
//       font-size: 28px;
//       text-transform: uppercase;
//       padding-bottom: 2px;
//     }

//     p {
//       font-weight: 400;
//     }
//   }

//   //--------------Chef Gallery**********************
//   #main {
//   }
//--------------Chef Gallery**********************
// }
